.navbar {
  margin: 0%;
  padding: 0%;
}

.logo {
  height: 10vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  padding: 1rem;
  margin-top: auto;
}

.navbar-brand {
  font-weight: bold;
  font-size: x-large;
}

.navbar .navbar-brand:hover {
  color: white !important;
}

.navbar .navbar-nav .nav-link {
  color: #00b4ef !important;
  font-weight: bold;
}

.navbar .navbar-nav .nav-link:hover {
  color: white !important;
}
